

html {
  scroll-behavior: smooth;
}

.bg-primary {
  background-color: transparent !important;
}
.navbar, .nav-link{
  font-size: 1rem !important;
  color: white;
  text-shadow:2px 2px #333;
  
  
}

.bgimage {
  width:100%;
  height: 100vh;
  background: url('/assets/glasses.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}

.make-eighty-vh{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: attached;
}

.bgimage h5, h1, h2 {
  color:white;
  text-shadow:2px 2px #333;
}


.top{
  opacity: 1;
}


.main-block {
 display: flex;
 justify-content: center;
 align-items: center;
}


.aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
  
}

.about-me-text {
  border-left: 2px solid black;
}

.ab-me-bg {
  background-color: #beb5af;
  height: 100vh;
}

.image-me {
  border-radius: 50%;
  object-fit: scale-down;
  padding-top: 20px;
  padding-bottom: 20px;
}



/* .skills {
  height: 60vh;
} */

.skills-section {
  background-color: #98bfcc;
}

.skill-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project1:hover {
  opacity: 1;
  transition: 0.4s;
  box-shadow: 0px 0px 30px rgb(177, 173, 173);
  background-color:#00000000;
}

.project1 {
  opacity: 0.7;
  border-radius: 10%;
 
}
 .project-img {
  height: 300px;
  width: 300px;
}

.project2:hover {
  opacity: 1;
  transition: 0.4s;
  box-shadow: 0px 0px 30px rgb(177, 173, 173);
  background-color:#00000000;
}

.project2 {
  opacity: 0.7;
  border-radius: 10%;
  filter: opacity(0.5)
}

.project3:hover {
  opacity: 1;
  transition: 0.4s;
  box-shadow: 0px 0px 30px rgb(177, 173, 173);
  background-color:#00000000;
}

.project3 {
  opacity: 0.7;
  border-radius: 10%;
}

.project4:hover {
  opacity: 1;
  transition: 0.4s;
  box-shadow: 0px 0px 30px rgb(177, 173, 173);
  background-color:#00000000;
}

.project4 {
  opacity: 0.5;
  border-radius: 10%;
}

.project5:hover {
  opacity: 1;
  transition: 0.4s;
  box-shadow: 0px 0px 30px rgb(177, 173, 173);
  background-color:#00000000;
}

.project5 {
  opacity: 0.5;
  border-radius: 10%;
}

.project6:hover {
  opacity: 1;
  transition: 0.4s;
  box-shadow: 0px 0px 30px rgb(177, 173, 173);
  background-color:#00000000;
}

.project6 {
  opacity: 0.5;
  border-radius: 10%;
}

.contact-me {
  height: 30vh;
  margin-top: 0;
  
}

.footer {
  height: 10vh;
}

.icon {
  height: 65px;
  padding-bottom: 5px;
}

#js-bar {
  background-color: #e6a329;
}

#node-bar {
  background-color: #77b063;
}
#c-sharp-bar {
  background-color: #a17adc;
}
#vue-bar {
  background-color: #41b883;
}
#mongoDB-bar {
  background-color: #402f1f;
}
#mySQL-bar {
  background-color: #197c95;
}
#dotnet-bar {
  background-color: #5a2d90;
}
#bootstrap-bar {
  background-color: #7952b3;
}
#git-bar {
  background-color: #f04f34;
}